@import "./style.css";
@import "./superinfo.css";
@import "./menu.css";
@import "./title.css";
@import "./about.css";
@import "./product.css";
@import "./price.css";
@import "./quality.css";
@import "./footer.css";
